@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

header{
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	max-width: 700px;
	margin: auto;
}

section{
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	max-width: 700px;
	margin: auto;
}
ul{
	list-style-type: circle;
}
